#navbar-main{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-ser;
	color:white;
	font-weight: 100;
}

.carousel-caption{
	font-family: 'Arvo', courier, serif;
	color: #3B3A36;
	text-shadow: none;
	padding-top: 10px;
	margin: 0px auto 40px auto;
}

.fa-stack{
	padding-top: 5px;
}

.carousel-caption h1{
	font-size: 25px;
}

.carousel-caption p{
	font-size: 18px;
}

.btn-lg {
	margin-bottom: 2px;
}

body{
	font-family: 'Arvo', courier, serif;
}

#midsection{
	margin: 40px auto 80px auto;
}

.featurette-divider{
	margin: 0;
}

#sockdodge{
	padding-top padding-bottom: 80px 80px;
	background-image: url(../images/first-slide.png);
	color: #3B3A36;
}

a {
	color: #f0ad4e;
}

a:hover{
	color: #ec971f;
}