#navbar-main{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-ser;
	color:white;
	font-weight: 100;
}

.carousel-caption{
	font-family: 'Arvo', courier, serif;
	color: #3B3A36;
	text-shadow: none;
	margin: 10px auto 40px auto;
}

.carousel-caption h1{
	font-size: 25px;
}

.carousel-caption p{
	font-size: 18px;
	padding: 20px 80px;
}

body{
	font-family: 'Arvo', courier, serif;
}

#midsection{
	margin: 40px auto auto auto;
}

#first-slide{
	
}